.Panel {
  background: #eaeaea;
  padding: 10px;
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

.Panel__Trajectories__trajectory {
  font-family: monospace;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background: white;
  border-radius: #eaeaea;
  margin-bottom: 20px;
}

.Panel__Trajectories__trajectory ul {
  padding-left: 20px;
}

.Panel__Trajectories__trajectory li {
  list-style: none;
}

.Panel__Trajectories__trajectory input {
  font-weight: 600;
  padding: 4px 6px;
  background: white;
  border: 1px solid white;
  width: calc(100% - 14px);
}

.Panel__Trajectories__trajectory input:hover {
  border-color: #333;
  background: white;
}
