.Controls {
  text-align: center;
  background: #eaeaea;
  height: 110px;
}

.Controls__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 10px;
}

.Controls__title__text {
  margin: 0;
}

.Controls__title__actions {
  display: flex;
  align-items: center;
}

.Controls__title__actions .Controls__tiny-button {
  padding: 2px 8px;
  font-size: 10px;
  margin: 0 2px;
}

.Controls__groups {
  display: flex;
  text-align: center;
}

.Controls__groups__map-mode select {
  display: block;
  line-height: 1.5em;
  border: 1px solid black;
  height: 30px;
  font-size: 20px;
  margin: 15px;
  padding: 0 10px;
}

.Controls__groups__map-mode select::selection {
  border: 1px solid black;
}

.Controls__groups > div {
  flex: 1;
}

.Controls__groups h3 {
  margin: 8px;
}

.Controls__groups__Point--current h3,
.Controls__groups__Trajectory--current h3 {
  background: #1e01bf;
  line-height: 1.4em;
  color: white;
}

