.Controls {
  text-align: center;
  background: #eaeaea;
}

.Controls__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 10px;
}

.Controls__title__text {
  margin: 0;
}

.Controls__title__actions {
  display: flex;
  align-items: center;
}

.Controls__title__actions .Controls__tiny-button {
  padding: 2px 8px;
  font-size: 10px;
  margin: 0 2px;
}


