.App {
  background: #eaeaea;
  max-height: 100vh;
  overflow: hidden;
}

@media (max-width: 900px) {
  .App {
    display: none;
  }
}

.App__grid {
  display: flex;
  flex-wrap: wrap;
}

.App__grid__controls-panel {
  flex-basis: 100%;
}

.App__grid__panel {
  flex-basis: 30%;
}

.App__grid__map-container {
  flex-basis: 70%;
  position: relative;
}

.App button {
  border: 1px solid black;
  border-radius: 2px;
  margin: 0 4px;
  padding: 3px 10px;
  text-transform: uppercase;
  font-weight: 600;
  background: black;
  color: white;
  cursor: pointer;
}

.App button:disabled {
  background: #aaa;
  border: #555;
}